$black: #17171a
$pink: #ff6868
$accent: $pink
$hover: #e73939
$brown: #837a64
$grey: #bfbfbf
$grey2: #212126
$grey2Opacity: rgba(33, 33, 38, 0.9)
$grey3: #afafb1
$green: #39b54a
$yellow: #e3a716

$font: 'Montserrat', sans-serif

// thin 100
// extra-light 200
// light 300
// regular 400
// medium 500
// semi-bold 600
// bold 700
// extra-bold 800
// black 900