.container 
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px
	box-sizing: border-box
	// border: 1px solid red

body
	min-width: 320px
	font: 16px/1 'Arial', sans-serif
	overflow-x: hidden
	background: #fff
	position: relative

@media (min-width: 1200.98px)
	.container 
		max-width: 1170px

@media (max-width: 1200.98px)
	.container 
		max-width: 960px

@media (max-width: 992.98px)
	.container 
		max-width: 720px

@media (max-width: 768.98px)
	.container 
		max-width: 540px

@media (max-width: 576.98px)
	.container 
		max-width: 100%